body {
font-family: 'Londrina Solid', cursive
}


.nav-wrapper a {

    color: black;
    padding-left: 15px;
}

/*text color side nav, does not work yet*/

.sidenav.h4 {

    color: #ff8a65;


}



/* slider*/

.caption h2 {

    color: black;
    }

.caption mark {

    padding: .1em;
    background-color: #FAEDCA;

}
.slides {
background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),}


/* registration form on register.html */

.card-panel {

    background-color: #C1DBB3;
}

/*card panels across the app*/

.card-panel h3{

    color: #7EBC89;
}


/* flash messages on register.html does not work as overwritten*/

.flashes h4 {
    line-height: 1.5;
    background-color: #C1DBB3;
}

/* input field in registration form register.html */

.input-field label {
     color: black;
   }


/*header featured videos.html*/   

.feature-text-center {

    text-align: center;
}


.btn {

    color: #7EBC89;
}

.collapsible-header {
    background-color: #C1DBB3;
}

.collapsible-body {
    
    background-color: #FAEDCA;
}


/*add video panel

.card-panel.add {

    margin-top: 300px;
}*/


/* edit interfaces */

.edit-interface{

    margin: 4px;
   
}

.edit-interface .fa-trash{

    color: red;

    
}

.edit-interface .fa-edit{

    color: #7EBC89;
}


/*edit video card panel*/

.row .card-panel.edit {

    margin-top: 80px;
}

/* edit and add buttons*/

.btn-large {

color: black;
margin: 10px; 
}

/*footer*/

.footer .fab {

    margin: 10px 8px;
}

/*sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      

.fab { 

    color: black;
    font-size: 25px;
}


/*like button*/


.fa-heart {
    margin-right: 10px;
    color: black;
    font-size: 25px;
} 

.fa-heart:hover {

    color: red;
}

/* profile field*/

.move {

    margin-top: 60px;
}

.edit-panel{

background-color: #C1DBB3;


}

/*search form*/

.row.card-panel {

    margin-bottom: 150px;
    margin-top: 20px;

}

.fa-search {

    color: black;
}


.fa-redo-alt{

    color:black;
}


/*does not work 
 .search.btn {    
 color: #7EBC89;

}*/

/*modal delete video*/

.modal-content {

    background-color: #ff8a65;
    
}


.modal-footer .btn-flat {
background-color: #7EBC89;
color: black;
}



#delete-button {

background-color: red;
    color: black;
}


.modal .modal-footer {

    background-color: #FAEDCA;
}

/*modal delete category*/


/* profile card*/


.card-panel.profile {

    margin-top: 100px;
}


.card {

    background-color: #C1DBB3;
}

.card-action .profile {

    padding: 10px;
}

