
/* text shadow in navbar */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


/*text color side nav, does not work yet*/

.h4 {

    color: #ff8a65
}

/* registration form on register.html */

.card-panel {

    background-color: #C1DBB3;
}

/*card panels across the app*/

.card-panel h3{

    color: #7EBC89;
}


/* flash messages on register.html does not work as overwritten*/

.flashes h4 {
    line-height: 1.5;
    background-color: #C1DBB3;
}

/* input field in registration form register.html */

.input-field label {
     color: black;
   }


/*header featured videos.html*/   

.feature-text-center {

    text-align: center;
}


/*carousel*/

.responsive-img {
    width: auto;
    max-height: 900px;
    object-fit: cover;
}

.carousel-item h3 {

    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.btn {

    color: #7EBC89;
}

.collapsible-header {
    background-color: #C1DBB3;
}

.collapsible-body {
    
    background-color: #FAEDCA;
}


/* edit interfaces*/

.edit-interface{

    margin: 4px;
   
}

.edit-interface .fa-trash{

    color: red;
    padding-left: 300px;
    
}

.edit-interface .fa-edit{

    color: #7EBC89;
}


/* edit and add buttons*/

.btn-large {

color: black
}

/*footer*/


.fab { 

    color: black;
    font-size: 25px;
}

/*need to push icons down but what to taret?

    margin-top: 40px;
}*/

/*like button*/


.fa-heart {

    color: red;
    font-size: 25px;
} 

/* profile field*/

.move {

    margin-top: 60px;
}