{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="feature-text-center">Add Video</h3>
            <div class="row card-panel">
                <form class="col s12" method="POST" action="{{ url_for('add_video') }}">
                    <!--Upload button-->
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn-large deep-orange lighten-2 waves-effect" id="video-upload-btn">Upload
                                Video
                                <i class="fas fa-cloud-upload-alt"></i> </button>
                        </div>
                    </div>
                    <!--video title-->
                    <div class="row">
                        <div class="input-field s12">
                            <i class="fas fa-video prefix"></i>
                            <input id="video_title" name="video_title" minlength="5" maxlength="200" type="text"
                                class="validate" required>
                            <small class="white-text col 12">Between 5 and 200 characters </small>
                            <label for="video_title">Video Title</label>
                        </div>
                    </div>
                        <!--presenter name-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-chalkboard-teacher prefix"></i>
                            <input id="video_author" name="video_author" minlength="5" maxlength="200" type="text"
                                class="validate" required>
                            <small class="white-text col 12">Between 5 and 200 characters </small>
                            <label for="video_author">Author/Presenter</label>
                        </div>
                    </div>
                    <!--video description-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-align-left prefix"></i>
                            <textarea id="video_description" name="video_description" minlength="5" maxlength="1000"
                                class="materialize-textarea validate" required></textarea>
                            <small class="white-text col 12">1000 characters max </small>
                            <label for="video_description">Video Abstract</label>
                        </div>
                    </div>
                    <!--presentation venue-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-university prefix"></i>
                            <input id="video_venue" name="video_venue" minlength="5" maxlength="70" type="text"
                                class="validate" required>
                            <label for="video_venue">Venue</label>
                        </div>
                    </div>   
                        <!--Date picker-->
                        <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-calendar-alt prefix"></i>
                            <input id="date" name="date" type="text" class="datepicker validate" required>
                            <label for="date">Date</label>
                        </div>
                        </div>
                        <!--category selection-->
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="category_name" name="category_name" class="validate" required>
                                    <option value="" disabled selected>Choose Category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="category_name">Video Category</label>
                            </div>
                        </div>
                            <!--video link-->
                            <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-link prefix"></i>
                                <input id="video_link" name="video_link" type="text" class="validate">
                                <small class="white-text col 12">Will be uploaded automatically together with
                                    video</small>
                                <label for="video_link">Link to Video</label>
                            </div>
                        </div>
                        <!--submit button-->
                        <div class="row">
                            <div class="col s12 center-align">
                                <button class="btn-large deep-orange lighten-2 waves-effect" type="submit">Add Video
                                    <i class="fas fa-plus-square right"></i>
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}