<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/style.css') }}">
    <!--for any custom CSS applied from a child template-->
    {% block styles %}
    {% endblock %}
    <title>Video Wunderkammer</title>
</head>

<body>

    <header>
        <!--main top navbar-->
        <nav class="nav-extended grey-text deep-orange darken-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_videos') }}" class="brand-logo">History of Science Videos</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_videos') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username= session['user']) }}">Profile</a></li>
                        <li><a href="#">New Video</a></li>
                        <li><a href="#">All Videos</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--mobile side navbar-->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align text-darken-4">Video Wunderkammer</h4>
            </li>
            <li><a href="{{ url_for('get_videos') }}">Home</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('profile', username= session['user']) }}">Profile</a></li>
                    <li><a href="#">New Video</a></li>
                    <li><a href="#">All Videos</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
        </ul>
    </header>
    <!--slider-->

    <section class="slider">
        <ul class="slides">
            <li>
                <img src="../images/march-of-intellect-1828.jpg" alt="">
                <div class="caption center-align">
                    <h3>Talks, Symposia, and Workshops</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Recordings in the History of
                        Science & Technology in one place</h5>
                </div>
            </li>
            <li>
                <img src="../images/national-cancer-institute.jpg" alt="">
                <div class="caption left-align">
                    <h3>Upload and search your favourite presentations</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</h5>
                </div>
            </li>
            <li>
                <img src="../images/national-cancer-institute-2.jpg" alt="">
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</h5>
                </div>
            </li>
        </ul>
    </section>


    <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <main class="container">

        {% block content %}
        {% endblock %}
    </main>




    <!--footer-->

    <!--<   footer class="page-footer deep-orange darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Copyright</h5>
                <p class="grey-text text-lighten-4">Jochen F. Mayer &copy; 2021</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social</h5>
                <ul class= "social-links">
                <li>
                    <a target ="_blank" href="https://www.twitter.com">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                </ul>
              </div>
            </div>
          </div>
         
        </footer> -->

    <footer class="section deep-orange darken-3 text-shadow center">
        <p class="flow-text">Jochen F. Mayer &copy; 2021</p>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static',  filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>