{% extends "base.html" %}

{% block content %}

<!--slider-->

    <section class="slider">
        <ul class="slides">
            <li>
                <img src="../images/march-of-intellect-1828.jpg" alt="">
                <div class="caption center-align">
                    <h3>Talks, Symposia, and Workshops</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Recordings in the History of
                        Science & Technology in one place</h5>
                </div>
            </li>
            <li>
                <img src="../images/national-cancer-institute.jpg" alt="">
                <div class="caption left-align">
                    <h3>Upload and search your favourite presentations</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</h5>
                </div>
            </li>
            <li>
                <img src="../images/national-cancer-institute-2.jpg" alt="">
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</h5>
                </div>
            </li>
        </ul>
    </section>
    
{% endblock %}


<!--footer-->

<footer class="section deep-orange darken-3 text-shadow center">
    <p class="flow-text">Jochen F. Mayer &copy; 2021</p>
</footer>