{% extends "base.html" %}

{% block content %}




<div class="row">
    <div class="col-12">
        <h3 class="feature-text-center">Video Library
        </h3>
    </div>
</div>
<div class="row">
    {% for video in videos %}
    <div class="col s12 m6 l3">
        <div class="card">
            <!--div class="video-container" add one div below of reactivated-->
            <div class="card-image">
                <!--<a href ="{{url_for('get_videos', video_id=video._id)}}" add </a> behind img-->
                <img src="{{url_for('static', filename='images/national-cancer-institute.jpg')}}">
            </div>
        </div>
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header">
                    <i class="far fa-caret-square-down"></i>Title</div>
                <div class="collapsible-body"> <strong>{{ video.video_title }}</strong>
                    <p><em>Key word: {{ video.category_name }}</em></p>
                    <p><em>by: {{ video.created_by }}</em></p>
                    {% if session.user|lower == video.created_by|lower %}
                    <a href="#" onclick ="toggleModal();" class="edit-interface">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a href="{{ url_for('edit_video', video_id=video._id) }}" class="edit-interface">
                        <i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Author</div>
                <div class="collapsible-body"> {{ video.video_author }}

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Abstract</div>
                <div class="collapsible-body">
                    <p>{{ video.video_description }}</p>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Venue</div>
                <div class="collapsible-body">{{ video.video_venue }}</div>
            </li>
            <li>
                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Date</div>
                <div class="collapsible-body">{{ video.date }}</div>
            </li>
            <li>
                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Link</div>
                <div class="collapsible-body">{{ video.video_link}}</div>
            </li>
        </ul>
    </div>
</div>

<!---->

    <!-- Modal Structure -->
  <div id="delete_video" class="modal">
    <div class="modal-content">
      <h4>Delete this video?</h4>
      <p>Are you sure you want to delete this video? This cannot be undone</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      <a href="{{ url_for('delete_video', video_id=video._id) }}" class="btn btn-danger">Delete</a>
    </div>
  </div>
       


<!--Modal from Santé
<div class="modal fade" id="delete_video_{{video._id}}" tabindex="-1" role="dialog"
    aria-labelledby="delete_video_{{video._id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">Delete this video?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this cocktail? This will be deleted forever.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancel</button>
                <a href="{{ url_for('delete_video', video_id=video._id)}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div-->

{% endfor %}
<!--div class="row">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="{{url_for('static', filename='images/national-cancer-institute-2.jpg')}}">
            </div>
            <div class="card-content">
                <span class="card-title">Video Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">More information</a>
            </div>
        </div>
    </div>
</div>
<div class ="row">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="{{url_for('static', filename='images/national-cancer-institute.jpg')}}">
            </div>
            <div class="card-content">
                <span class="card-title">Video Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">More information</a>
            </div>
        </div>
    </div>
</div>
<div class ="row">    
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="{{url_for('static', filename='images/national-cancer-institute-2.jpg')}}">
            </div>
            <div class="card-content">
                <span class="card-title">Video Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">Watch</a>
            </div>
        </div>
    </div>
</div-->





{% endblock %}