{% extends "base.html" %}
<!--this file extends here from base.html
then I need to tell the base template which block element I am injecting my code into. Here it is{% block content %}-->
{% block content %}

<h2>I am extending the base template</h2>
    {% for video in videos %}
        {{ video.video_title }}<br>
        {{ video.category_name }}<br>
        {{ video.video_description }}<br>
        {{ video.video_venue }}<br>
        {{ video.video_author }}<br>
        {{ video.date }}<br>
    {% endfor %}
{% endblock %}