{% extends "base.html" %}

{% block content %}

<!--slider-->
<section class="slider ">
    <ul class="slides ">
        <li>
            <img src="{{ url_for('static', filename='images/march-of-intellect-1828.jpg') }}"  alt ="slider-image">
            <div class="caption center-align">
                <h2><strong><mark>A History of Science Video Database</mark></strong></h2>
                <h4 class="light grey-text text-lighten-3 hide-on-small-only"><mark>Recorded Talks, Symposia, and
                    Workshops in one place</mark></h4>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/blake_newton.jpg') }}" alt="slider-image">
            <div class="caption right-align">
                <h3><mark>Watch your favourite scholarly presentations</mark></h3>
                <h4 class="light grey-text text-lighten-3 hide-on-small-only"><mark>Safe a best-of selection in your profile
                </mark></h4>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename='images/herschel.jpg')}}" alt ="slider-image">
            <div class="caption left-align">
                <h3><mark>Upload videos to the searchable database</mark></h3>
                <h4 class="light grey-text text-lighten-3 hide-on-small-only"><mark>Help organize a growing stream of digital
                    content</mark></h4>
            </div>
        </li>
    </ul>
</section>
<!--Featured Videos-->
<section class="feature">
    <div class="row">
        <div class="col-12">
            <h3 class="feature-text-center">Featured Videos
            </h3>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for video in suggested_videos %}
        <div class="col s12 m6 l3">
            <div class="video-container responsive-video hoverable">
                <iframe title = "Your Video" src=" {{ video.video_link }} " width="640" height="480"
                    allow="fullscreen; encrypted-media; picture-in-picture" allowfullscreen frameborder="0">
                </iframe>
            </div>
            <ul class="collapsible hoverable">
                <li class="">
                    <div class="collapsible-header">
                        <i class="far fa-caret-square-down"></i>Title</div>
                    <div class="collapsible-body"><strong>{{ video.video_title }}</strong>
                        <p><em>Key word: {{ video.category_name }}</em></p>
                        <p><em>by: {{ video.created_by }}</em></p>
                        {% if session.user|lower == video.created_by|lower %}
                        <a href="{{ url_for('edit_video', video_id=video._id) }}"
                            class="edit-interface align-item-right">
                            <i class="fas fa-edit tooltipped" data-position="bottom" data-tooltip="Edit"></i></a>
                        <a href="#delete_video_{{video._id}}" class="edit-interface modal-trigger align-item-right">
                            <i class="fas fa-trash tooltipped" data-position="right" data-tooltip="Delete"></i></a>
                        <a href="#">
                            <i class="fas fa-heart align-item-right"></i></a>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Author</div>
                    <div class="collapsible-body"> {{ video.video_author }}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Abstract</div>
                    <div class="collapsible-body">
                        <p>{{ video.video_description }}</p>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Venue</div>
                    <div class="collapsible-body">{{ video.video_venue }}</div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Date</div>
                    <div class="collapsible-body">{{ video.date }}</div>
                </li>
            </ul>
        </div>
        {% endfor %}



{% endblock %}